@charset "UTF-8";

body{
    background-color: rgb(25, 235, 77);
    font-family: sans-serif;
}

h1{
    color: rgb(1, 97, 1)
}
#principal{
    text-align: center;
    background-color: green;
    color: white;
}
.titulo{
    color: black;
    text-align: center;
    background-color: rgba(197, 197, 13, 0.61);
}
.basico{
    color: rgb(24, 97, 5);
    font-weight: bold;

}
.intermediario{
    color: rgb(190, 190, 5);
}
.avancado{
    color: red;
}
h2{
    color: yellow;
}
.destaque{
    background-color: rgba(226, 226, 11, 0.61);
}